Flask
gunicorn
numpy
pandas
Pillow
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchvision==0.17.0
deep-translator
gTTS
Werkzeug
Jinja2
MarkupSafe
click
itsdangerous
python-dateutil
pytz
six
scikit-learn
typing-extensions
